extends layout

block content

  div.container
    div.row.page-client

      div.col-lf.col-sm-4(style="border:solid 1px gray;height:500px;",onClick="TMG.client.updateSharedAssets(TMG.client.id)")

      div.col-rt.col-sm-7.col-sm-offset-1(style="border:solid 1px gray;height:500px;")

