
.tmg-popup p, .tmg-popup a, .tmg-popup span { font-family:"univers_light"; }
.navbar { font-family:"univers_light"; }
.footer .footer-address p { font-family:"univers_light"; }
.page-design-header-text { font-family:"univers_light"; }
.page-design .primary-body { font-family:"univers_light"; }
.page-video { font-family:"univers_light"; }
.page-video-scroll .video-scroll .down-label { font-family:"univers_light"; }
.back-to-menu span { font-family:"univers_light"; }
.page-work, .page-work-nav { font-family:"univers_light"; }
.work-search { font-family:"univers_light"; }
.home-rules .rule-footer { font-family:"univers_light"; }
.page-about {font-family:"univers_light";  }