body { padding-top: 0px; padding-bottom: 40px; min-width:900px; font-weight:300; -webkit-font-smoothing:antialiased; background-color:black; }

.tmg-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.tmg-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }

.tmg-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }

.navbar { font-family:"gothamrounded_book"; text-transform: uppercase; height:110px; background-color:rgba(78,78,78,1); border-color:rgba(78,78,78,1); }
.navbar .navbar-header { margin-top:5px; }
.navbar img:hover { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.navbar-nav { height:20px; margin-top:90px; margin-left:50px; }
.navbar-nav li { font-size:10px; border-right:solid 2px #777; height:20px; }
.navbar-nav li a { font-weight:bold; padding-top:0px; padding-left:8px; padding-right:8px; background-color:transparent !important; color:#cccccc !important; }
.navbar-nav li a:hover { color:#999999 !important; }
.navbar-nav>li>a { padding-bottom:0px; }
.navbar-inverse .navbar-nav>.active>a { box-shadow:none; background-image:none; }
.footer { display:none; position:absolute; bottom:0px; height:36px; z-index:1; width:100%; background-color:rgba(78,78,78,1); border-color:rgba(78,78,78,1); }

.container { position:relative; z-index:10; }

.social-buttons { float:right; height:25px; margin-top:85px; margin-right:20px; }
.social-buttons a { color:#cccccc; font-size:18px; padding:5px; cursor:pointer; }
.social-buttons a:hover { color:#999999; }

.galleria-container { z-index:0 !important; margin-top:110px; }
.galleria-bg .galleria-info { visibility:hidden; }
.galleria-thumbnails-container { display:none; }
.galleria-loader { visibility:hidden; }
.galleria-image-nav { display:none; }
.galleria-container { filter:alpha(opacity=75); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; -moz-opacity:0.75; -khtml-opacity:0.75; opacity:0.75; }

.page-work { margin-top:110px; font-size:12px; color:white; font-family:"gothamrounded_book"; z-index:10; }
.page-work .col-lg-12 {  }
.page-work .video-browser-box { position:relative; float:left; width:250px; height:300px; border:solid 1px white; margin:8px; padding:5px; overflow:hidden; }

.home-rules { position:absolute; text-align:center; z-index:10; top:160px; width:96%; max-width:1280px; min-width:900px; left:2%; padding-bottom:80px; padding-top:80px; background-color:transparent; border:none; height:auto; color:#ffffff; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }
.home-rules .rule-number { font-size:32px; font-family:"acaslonpro_semibolditalic"; position:relative; top:15px; }
.home-rules .rule-body { font-size:128px; width:100%; font-family:"alternategot_no1_dot"; position:relative; top:-35px; }
.home-rules .rule-body .brackets { color:#ff0000; font-size:120%; }
.home-rules .rule-footer { top:-90px; font-size:16px; font-family:"gothamrounded_book"; position:relative; }
.home-rules .rule-hr { position:relative; width:25%; border:dashed 1px #aaa; border-bottom:none; border-left:none; border-right:none; }

.page-about { margin-top:110px; font-size:12px; color:white; font-family:"gothamrounded_book"; z-index:10; }
.page-about .col-lg-6 { border:solid 1px white; }
.page-about .team-member { float:left; height:auto; border:none; width:89%; font-size:11px; color:#ffffff; margin:5px 0px 5px 10%; }
.page-about .team-member img { margin:5px 15px 12px 0px; float:left; }
.page-about .team-member span {  }
.page-about .team-member .team-name { color:#ff0000; font-size:110%; }
.page-about .team-member .team-div { padding:0px 8px; }
.page-about .team-member .team-title { font-size:110%;  }
.page-about .team-member .team-email { font-size:120%; position:relative; top:0px; color:#ffffff; }
.page-about .team-member .team-email:hover { color:#999999 !important; }
.page-about .header { color:#ffffff; margin-top:50px; }
.page-about .big-bracket { position:relative; float:left; left:-20px; top:-20px; color:red; font-size:300px; font-family:"alternategot_no1_dot"; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; line-height:1; overflow:visible; width:60px; height:260px; }
.page-about .company-name { color:red; }

.radial-gradient {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNDUiLz4KICAgIDxzdG9wIG9mZnNldD0iNjclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%, rgba(0,0,0,0) 67%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,rgba(0,0,0,0.45)), color-stop(67%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
