
.navbar-nav { margin-top:68px; }
.navbar-nav li { font-size:13px; }

.body-about .bg-static { height:150%; }

.body-work-single .header-corner-lf, .body-work-single .header-corner-rt { display:none; }

.tmg-popup { margin-top:120px; left:15%; width:80%; }