
body { min-width:480px; /*max-width:800px;*/ overflow-x:hidden; padding:0px 0px 0px 0px;  padding-left:0px !important; padding-right:0px !important; margin-left:0px !important; margin-right:0px !important; }



.bg-static { position:absolute; margin-top:22px; }
.body-work-single .bg-static { margin-top:22px; }

.navbar { height:44px; min-height:44px; }
.navbar .navbar-header img { height:32px; position:relative; top:-8px;  margin-left:10px; }
.navbar-nav { position:absolute; top:auto; bottom:1px; margin-top:0px; margin-left:70px; }
.navbar-nav li {  }

#tmg-container { /*margin-left:25px;*/ }

.body-home #tmg-container { /*padding-top:22px; overflow-y:hidden;*/ }

.container, #tmg-container, .row, .col-lf { width:100% !important; padding-left:0px !important; padding-right:0px !important; margin-left:0px !important; margin-right:0px !important; overflow-x:hidden; }

.page-video .video-player-box .video-player { width:80%; float:left; left:10%; }

.page-video { margin-top:88px; }

.back-to-menu { top:52px; }
.video-prev { top:160px; }
.video-next { top:160px; }

.home-rules-buffer { margin:44px 0px 0px 0px; }
.home-rules { top:-22px; min-width:240px; width:96%; left:2%; margin:0px 0px 0px 0px; }

.social-buttons { bottom:2px; }

.footer { display:none; }

.page-work, .page-work-nav { padding-left:0px; }
.page-work-nav .navbar-nav { margin-left:0px; left:0px; }

