
body { min-width:480px; /*max-width:800px;*/ overflow-x:hidden; padding:0px 0px 0px 0px;  padding-left:0px !important; padding-right:0px !important; margin-left:0px !important; margin-right:0px !important; }

.mobile-only { display:block; }
.non-mobile-only { display:none; visibility:hidden; }

.bg-static { position:absolute; margin-top:0px; top:22px; }
.body-work-single .bg-static, .body-about .bg-static { display:none; margin-top:0px; top:22px; }

.navbar { height:44px; min-height:44px; }
.navbar .navbar-header img { height:32px; position:relative; top:-8px;  margin-left:10px; }
.navbar-nav { position:absolute; top:auto; bottom:1px; margin-top:0px; margin-left:70px; }
.navbar-nav li {  }

#tmg-container { /*margin-left:25px;*/ }

.body-work-single .header-corner-lf, .body-work-single .header-corner-rt { display:none; }

.body-home #tmg-container { padding-top:22px; overflow-y:hidden; }

.container, #tmg-container, .row, .col-lf { width:100% !important; padding-left:0px !important; padding-right:0px !important; margin-left:0px !important; margin-right:0px !important; overflow-x:hidden; }

.page-video .video-player-box .video-player { width:80%; float:left; left:10%; }

.page-video { margin-top:66px; }

.back-to-menu { top:52px; }
.video-prev { top:160px; }
.video-next { top:160px; }

.home-rules-buffer { margin:66px 0px 0px 0px; }
.home-rules { top:-22px; min-width:240px; max-width:960px; width:100%; left:0%; margin:0px 0px 0px 0px; }
.home-rules .rule-number { font-size:18px; top:-105px; }
.home-rules .rule-footer { top:-217px; font-size:12px; }

.social-buttons { bottom:2px; }

.bg-corner-darkener { margin-top:44px; left:-75%; top:-150px; width:150%; height:300px; }

.page-work, .page-work-nav { padding-left:0px; position:relative; left:11%; width:78%; }
.page-work-nav { left:4%; width:85%; }
.page-work-nav .navbar-nav { margin-left:0px; left:0px; }

.page-video .primary-title { position:relative; left:10%; width:80%; }
.page-video .primary-body { position:relative; left:10%; width:80%; }

.page-video .production-roles { float:right; margin-right:20%; }

.page-video .page-video-scroll { position:absolute; left:18%; top:auto; bottom:8px;}

.page-design { margin-top:44px; }
.page-design .page-design-image { margin-top:44px; }
.page-design .row, .page-design .col-lg-12 { height:100%; }
.page-design .page-design-image img { margin-bottom:10px !important; }
.page-design .primary-body { position:relative; left:5%; float:left; clear:both; width:90%; padding-top:0px !important; padding-bottom:10px !important; }

.footer { position:relative; top:0px; height:240px; }

.body-work .footer { border-top:none !important; }

.footer .footer-rules { position:absolute; left:0%; top:auto; bottom:0px; width:100%; }
.footer .footer-address { position:absolute; left:40%; width:60%; border-right:none; height:80px; text-align:right; }

.page-video-bttm .col-lf {  }
.page-video-bttm .clmn-lf .clmn-lf-tp { border-bottom:solid 0px; position:absolute; bottom:200px; }
.video-bttm-secondary-layout-corner .page-video-bttm .clmn-lf .clmn-lf-tp { bottom:0px; }
.video-bttm-secondary-layout-corner .page-video-bttm .col-lf { min-height:120px; }

.page-about .col-lf, .page-about .col-rt { position:relative; margin-top:66px; margin-bottom:33px; left:8%; width:90%; font-size:150%; }
.page-about .col-rt { left:0%; margin-left:auto; margin-right:auto; }

.tmg-popup { left:2%; top:0%; width:96%; margin-top:44px; }
