body { padding-top: 0px; padding-bottom: 40px; min-width:900px; font-weight:300; -webkit-font-smoothing:antialiased; background-color:black; }

.tmg-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.tmg-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }

.tmg-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }

.navbar { font-family:"gothamrounded_book"; text-transform: uppercase; height:88px; background-color:rgba(78,78,78,1); border-color:rgba(78,78,78,1); }
.navbar .navbar-header img { margin-top:0px; height:60px; }
.navbar img:hover { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.navbar-nav { height:20px; margin-top:68px; margin-left:50px; }
.navbar-nav li { font-size:10.5px; border-right:solid 2px #777; height:20px; font-weight:normal !important; }
.navbar-nav li a { padding-top:0px; padding-left:8px; padding-right:8px; background-color:transparent !important; color:#cccccc !important; }
.navbar-nav li a:hover { color:#999999 !important; }
.navbar-nav>li>a { padding-bottom:0px; }
.navbar-inverse .navbar-nav>.active>a { box-shadow:none; background-image:none; }
.footer { display:none; position:absolute; bottom:0px; height:36px; z-index:1; width:100%; background-color:rgba(78,78,78,1); border-color:rgba(78,78,78,1); }
.navbar-inverse { background-image:none; }
/*.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { text-shadow:none; }*/

.container { position:relative; z-index:10; }

.social-buttons { float:right; height:25px; margin-top:65px; margin-right:20px; }
.social-buttons a { position:relative; color:#cccccc; font-size:18px; padding:5px; cursor:pointer; }
.social-buttons a:hover { color:#999999; }

.galleria-container { z-index:0 !important; margin-top:88px; }
.galleria-bg .galleria-info { visibility:hidden; }
.galleria-thumbnails-container { display:none; }
.galleria-loader { visibility:hidden; }
.galleria-image-nav { display:none; }
.galleria-container { filter:alpha(opacity=90); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9; }

.bg-static { position:absolute; top:88px; left:0%; width:100%; height:100%; z-index:0; }
.bg-static img { position:absolute; /*width:100%;*/ top:0%; left:0%; }

.page-video { margin-top:176px; font-size:10px; line-height:1.7; color:white; font-family:"gothamrounded_book"; z-index:10; text-transform:uppercase; }
.page-video .video-player img { width:100%; }
.page-video .primary-title { font-size:150%; margin-bottom:15px; }
.page-video p { margin-top:1px; margin-bottom:1px; }
/*.page-video {  }*/
.page-video-scroll { margin-top:20px; }
.page-video-scroll .video-bttn { width:20px; height:20px; position:relative; cursor:pointer; background-color:red; }
.page-video-scroll .video-scroll { margin-left:auto; margin-right:auto; }
.page-video-scroll .video-prev { position:absolute; left:-5%; top:-240px; }
.page-video-scroll .video-next { position:absolute; right:-105%; top:-240px; }
.page-video-bttm { margin-top:20px; }
.page-video-bttm .col-lf { border:none; height:350px; }
.page-video-bttm .clmn-lf { background-color:white; overflow:hidden; }
.page-video-bttm .clmn-lf .clmn-lf-tp { height:100px; overflow:hidden; background-color:yellow; width:120%; position:relative; left:-10%; padding:5px 10%; }
.page-video-bttm .clmn-lf .clmn-lf-bt { height:100px; overflow:hidden; background-color:yellow; width:100%; position:absolute; left:0px; padding:5px 15px; }
.page-video-bttm .clmn-md { background-color:red; overflow:hidden; }
.page-video-bttm .clmn-rt { background-color:green; overflow:hidden; }
.page-video .production-roles { position:relative; background-color:#ff0000; width:130px; padding:20px 15px 20px 15px; margin-top:15px; border-left:solid 15px #808080; overflow:visible; }
.page-video .production-roles .bracket-tp { border:none; background-color:#808080; width:30px; height:15px; position:absolute; top:0px; left:-15px; }
.page-video .production-roles .bracket-bt { border:none; background-color:#808080; width:30px; height:15px; position:absolute; bottom:0px; left:-15px; }
.tmg-thmb img { position:absolute; visibility:hidden; top:0%; left:0%; border:none; }

.page-work { margin-top:88px; font-size:12px; color:white; font-family:"gothamrounded_book"; z-index:10; }
.page-work .col-lg-12 {  }
.page-work .video-browser-box { position:relative; float:left; width:250px; height:300px; border:solid 1px white; margin:8px; padding:5px; overflow:hidden; }

.home-rules { text-shadow: 0px 0px 8px #333333; position:absolute; text-align:center; z-index:10; top:160px; width:96%; max-width:1280px; min-width:900px; left:2%; padding-bottom:80px; padding-top:80px; background-color:transparent; border:none; height:auto; color:#ffffff; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }
.home-rules .rules-bg { position:absolute; left:-10%; top:15%; width:120%; height:70%; border:none; filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;  }
.home-rules .rule-number { font-size:36px; font-family:"acaslonpro_italic"; position:relative; top:28px; }
.home-rules .rule-body { font-size:128px; width:120%; text-align:center; position:relative; left:-10%; white-space:nowrap; font-family:"alternategot_no1_dot"; position:relative; top:-35px; line-height:1.2; }
.home-rules .rule-body .brackets { color:#ff0000; font-size:120%; }
.home-rules .rule-footer { top:-90px; font-size:16px; font-family:"gothamrounded_book"; position:relative; }
.home-rules .rule-hr { position:relative; width:25%; border:dashed 1px #aaa; border-bottom:none; border-left:none; border-right:none; }
.home-rules-body-squeeze { -webkit-transform: scaleX(0.83); -moz-transform: scaleX(0.83); -ms-transform: scaleX(0.83); -o-transform: scaleX(0.83); transform: scaleX(0.83); }
.home-rules-number-stretch { -webkit-transform: scaleX(1.6); -moz-transform: scaleX(1.6); -ms-transform: scaleX(1.6); -o-transform: scaleX(1.6); transform: scaleX(1.6); }

.page-about { margin-top:88px; font-size:10px; line-height:1.7; color:white; font-family:"gothamrounded_book"; z-index:10; }
.page-about p { margin-top:1px; margin-bottom:1px; }
.page-about .col-lg-6 { border:solid 1px white; }
.page-about .team-member { float:left; height:auto; border:none; width:89%; font-size:10px; color:#ffffff; margin:5px 0px 5px 10%; }
.page-about .team-member img { margin:5px 15px 12px 0px; float:left; }
.page-about .team-member span { }
.page-about .team-member .team-name { color:#ff0000; font-size:120%; }
.page-about .team-member .team-div { padding:0px 8px; }
.page-about .team-member .team-title { font-size:120%;  }
.page-about .team-member .team-email { font-size:130%; position:relative; top:0px; color:#ffffff; }
.page-about .team-member .team-email:hover { color:#999999 !important; }
.page-about .header { color:#ffffff; margin-top:50px; }
.page-about .big-bracket { position:relative; float:left; left:-20px; top:-20px; color:red; font-size:300px; font-family:"alternategot_no1_dot"; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; line-height:1; overflow:visible; width:60px; height:260px; }
.page-about .company-name { color:red; }

.radial-gradient {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNDUiLz4KICAgIDxzdG9wIG9mZnNldD0iNjclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%, rgba(0,0,0,0) 67%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,rgba(0,0,0,0.45)), color-stop(67%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.bg-fadeout-gradient {
  position:fixed; z-index:1; width:100%; height:100%; left:0%; top:88px; border:none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 67%, rgba(0,0,0,1) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(67%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,1)));
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 67%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 67%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 67%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
}
