body { padding-top: 0px; padding-bottom: 0px; min-width:900px; font-weight:300; -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; font-smoothing:antialiased; background-color:black; overflow-x:hidden !important; overflow-y:scroll !important; }

.tmg-unselectable { user-select:none; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; }
.tmg-selectable { user-select:text; -webkit-touch-callout:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; -o-user-select:text; }

#tmg-disclaimer-mobile { display:none; }

body .tmg-popup-container { display:none; margin-top:0px; height:0px; margin-left:auto; margin-right:auto; background-color:transparent; z-index:11000; }
.tmg-popup { position:absolute; left:30%; top:0%; width:65%; margin-top:228px; height:auto; background-color:#dd1f26; }
.tmg-popup .tmg-popup-lf { position:relative; float:left; width:35%; left:5%; margin-top:15px; margin-bottom:15px; background-color:transparent; height:auto; }
.tmg-popup .tmg-popup-rt { position:relative; float:left; width:55%; left:5%; margin-top:15px; margin-bottom:15px; background-color:transparent; height:auto; }
.tmg-popup-x { position:absolute; right:0%; bottom:0%; width:auto; height:auto; background-color:#888888; cursor:pointer; color:#cccccc; }
.tmg-popup-x:hover { color:#eeeeee; background-color:#aaaaaa; }
.tmg-popup-x .fa-times { float:right; font-size:24px; margin:8px 11px; }
.tmg-popup-bg { display:none; position:fixed; height:100%; width:100%; left:0%; top:0%; background-color:black; z-index:10999; }
.tmg-popup p, .tmg-popup a { font-family:"gothamrounded_book"; line-height:1.7; font-size:10px; margin-top:1px; margin-bottom:1px; text-transform: uppercase; color:#ffffff; }

.tmg-popup-img { float:left; clear:left; width:90%; }
.tmg-popup-email-lf { float:left; clear:left; }
.tmg-popup-name-lf { float:left; clear:left; }
.tmg-popup-title-lf { float:left; clear:left; }


.tmg-trans-90 { filter:alpha(opacity=90); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90; }
.tmg-trans-80 { filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.80; -khtml-opacity:0.80; opacity:0.80; }
.tmg-trans-67 { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.tmg-trans-50 { filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.50; -khtml-opacity:0.50; opacity:0.50; }
.tmg-trans-33 { filter:alpha(opacity=33); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=33)"; -moz-opacity:0.33; -khtml-opacity:0.33; opacity:0.33; }
.tmg-trans-20 { filter:alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; -moz-opacity:0.20; -khtml-opacity:0.20; opacity:0.20; }
.tmg-trans-0 { filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }

.tmg-trans-linear { -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; }

.tmg-body-cover { display:none; position:fixed; z-index:20000; width:100%; height:100%; left:0%; top:0%; background-color:black; }

.red { color:#ff0000; }

.navbar { font-family:"gothamrounded_book"; text-transform: uppercase; height:88px; background-color:rgba(78,78,78,1); border-color:rgba(78,78,78,1); z-index:100; }
.navbar .navbar-header img { margin-top:0px; height:60px; }
.navbar img:hover { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.navbar-nav { height:20px; margin-top:68px; margin-left:50px; }
.navbar-nav li { font-size:11px; border-right:solid 2px #777; height:20px; font-weight:normal !important; }
.navbar-nav li a { padding-top:3px; padding-left:8px; padding-right:8px; background-color:transparent !important; color:#cccccc !important; }
.navbar-nav li a:hover { color:#999999 !important; }
.navbar-nav>li>a { padding-bottom:0px; }
.navbar-inverse .navbar-nav>.active>a { box-shadow:none; background-image:none; }
#navbar-client-login { border-right:solid 0px #777; }

.footer { position:relative; top:0px; height:150px; z-index:20; width:100%; background-color:rgba(78,78,78,1); border:0; margin-top:0px; overflow-x:hidden; overflow-y:hidden; }
.footer .container { overflow-x:hidden; overflow-y:hidden; height:100%; }
.footer .footer-logo { position:relative; float:left; padding:45px; padding-top:25px; }
.footer .footer-logo img { height:60px; }
.footer .footer-logo img:hover { filter:alpha(opacity=67); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=67)"; -moz-opacity:0.67; -khtml-opacity:0.67; opacity:0.67; }
.footer .footer-address { position:relative; font-size:11px; color:#cccccc; float:left; width:auto; text-align:left; margin-top:15px; padding:15px 40px 0px 40px; height:200px; border-left:dashed 1px #cccccc; border-right:dashed 1px #cccccc; }
.footer .footer-address p { font-family:"gothamrounded_book"; line-height:1.7; margin-top:1px; margin-bottom:1px; text-transform: uppercase; }
.footer .vertical-rule { display:none; position:absolute; left:0%; top:20%; height:120px; border:0; border-left:dashed 1px #cccccc; width:0px; }
.footer .vertical-rule-logo { left:12%; }
.footer .vertical-rule-address { left:35%; }
.footer .vertical-rule-rules { left:60%; }
.footer .footer-address .social-buttons { margin-top:2px; float:left; margin-left:0px; position:relative; left:-5px; display:none; }

.footer .footer-rules { position:absolute; right:0%; height:0px; width:50%; min-width:50%; top:140px; left:50%; clear:none; margin-left:0px; margin-right:0px; padding-top:0px; padding-left:0px; -moz-osx-font-smoothing:grayscale; display:none; }
.footer .footer-rules .rule-number { font-size:16px; top:-125px; }
.footer .footer-rules .rule-body { font-size:52px; top:-170px; }
.footer .footer-rules .rule-footer { font-size:10px; }
.footer .footer-rules .rule-hr {  }
.footer .footer-rules .rules-bg { display:none; }
.footer .footer-rules .home-rules-body-squeeze {  }

/*.row { overflow-x:hidden !important; }*/


.navbar-inverse { background-image:none; }
.body-home .footer { display:none; }
.body-home #tmg-container { position:fixed; width:100%; height:100%; }
.body-work .footer { margin-top:100px; }
.body-work-single .footer { margin-top:0px; }

.container { position:relative; z-index:11; /*margin-right:auto; margin-left:44px;*/  }
.wide-container { width:1280px !important; }

.social-buttons { position:absolute; left:auto; right:0px; height:25px; margin:0px 20px 0px 0px; bottom:-3px; top:auto; }
.social-buttons a { position:relative; color:#cccccc; font-size:18px; padding:4px; cursor:pointer; border:0; background-color:transparent; margin:0px 1px; vertical-align:middle; }
.social-buttons a:hover { color:#999999; }
.social-buttons a .fa-envelope { position:relative; left:-1px; font-size:19px; -webkit-transform: scaleX(0.83); -moz-transform: scaleX(0.83); -ms-transform: scaleX(0.83); -o-transform: scaleX(0.83); transform: scaleX(0.83); }

.mobile-only { display:none; }
.non-mobile-only { display:block; }

.bg-static { position:absolute; margin-top:44px; left:0%; top:0%; width:100%; height:100%; z-index:0; overflow:hidden;}
.bg-static img { position:absolute; width:100%; top:0%; left:0%; z-index:0; visibility:hidden; }
.bg-static img.curr { z-index:1; }
.body-home .bg-static { position:fixed; }
.body-work .bg-static { position:fixed; }
.body-work-single .bg-static { margin-top:88px; }
.body-work-single .bg-static img { visibility:visible; }

.vjs-default-skin .vjs-play-progress, .vjs-default-skin .vjs-volume-level { background-color:#444444 !important; }
.vjs-default-skin .vjs-big-play-button { display:none !important; }
.vjs-default-skin .vjs-control-bar { top:auto !important; bottom:-28px !important; }

.vjs-default-skin .vjs-play-control { top:-9px; background-color:gray; z-index:10000 !important; width:5% !important; cursor:pointer; }
.vjs-default-skin .vjs-control:before { font-size:1em !important; line-height:1.2em !important; }
.vjs-default-skin .vjs-progress-control { left:auto !important; width:95% !important; height:1.67em !important; }
.vjs-default-skin .vjs-control-text, .vjs-default-skin .vjs-fullscreen-control, .vjs-default-skin .vjs-mute-control, .vjs-default-skin .vjs-volume-control, .vjs-default-skin .vjs-remaining-time, .vjs-default-skin .vjs-duration, .vjs-default-skin .vjs-time-divider, .vjs-default-skin .vjs-current-time { display:none !important; }

.page-design { margin-top:88px; background-color:transparent; height:auto; z-index:10; }
.page-design .col-lg-12 { position:relative; }
.page-design-header-bg { position:absolute; left:-800%; height:100%; width:1700%; background-color:rgba(64,64,64,1); z-index:10; top:0px; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
.page-design-header-text { position:relative; width:100%; padding:32px 0px 8px 0px; color:white; z-index:11; text-align:left; left:0%; height:100%; font-size:14px; font-family:"gothamrounded_book"; text-transform:uppercase; }
.page-design .primary-body { position:absolute; left:5%; top:5%; width:33%; height:auto; color:#444444; background-color:transparent; font-size:10px; font-family:"gothamrounded_book"; text-transform:uppercase; letter-spacing:.03em; line-height:1.7;  }
.page-design .primary-body p { margin-top:1px; margin-bottom:1px; }
.page-design .page-design-image { position:relative; overflow:visible; width:100%; height:auto; left:0%; top:0%; margin:0px 0px 0px 0px; border:0; }
.page-design .page-design-image img { position:relative; width:100%; height:auto; left:0%; top:0%; }

.page-video { letter-spacing:.03em; text-transform:uppercase; margin-top:176px; font-size:10px; line-height:1.7; color:#cccccc; font-family:"gothamrounded_book"; z-index:10; text-transform:uppercase; }
.page-video .video-player { background-color:transparent; overflow:visible; position:relative; }
.page-video .video-player-box .video-player { width:96%; float:right; margin-bottom:40px; }
.page-video .video-player-box .video-player img { width:96%; float:right; margin-bottom:40px; width:100%; }
.page-video .video-player .video-player-inner { position:absolute; left:0%; top:0%; width:100%; height:100%; z-index:0; border:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; overflow:hidden; }
.page-video .video-player img { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; position:absolute; top:0%; left:0%;border:none; /*vertical-align:baseline;*/ }
.page-video .video-player img.aspect-ratio { position:relative; z-index:0; margin:0; }
.page-video .video-player img.bracket { height:100%; width:auto; z-index:1; }
.page-video .video-player img.poster-frame { height:100%; z-index:0; }
.page-video .primary-title { font-size:150%; margin-bottom:15px; color:#ffffff; }
.page-video .primary-body { width:96%; }
.page-video p { margin-top:1px; margin-bottom:1px; }
.page-video .video-player .video-bttn { position:absolute; margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto; left:0; right:0; top:0; bottom:0; width:67px; height:67px; }

.page-video .video-player .video-player-button { position:absolute; bottom:-40px; width:auto; height:30px; cursor:pointer; background-color:transparent; border:0; margin-right:8px; font-size:8px; text-align:left; color:#cccccc; display:none; z-index:10; }
.page-video .video-player .video-player-button:hover { color:white; }
.page-video .video-player .video-player-button i { float:right; font-size:18px; color:#cccccc; margin-right:0px; margin-left:8px; position:relative; top:-3px; }
.page-video .video-player .video-player-button-fullscreen { right:0%; left:auto; }
.page-video .video-player .video-player-button-playback { left:0%; text-align:left; }
.page-video .video-player .video-player-button-playback i { float:left; margin-right:8px; }

.page-video-scroll { clear:both; position:relative; margin-top:0px; }
.video-bttn { position:absolute; cursor:pointer; background-color:transparent; width:87px; height:87px; z-index:5; overflow:visible; }
.video-bttn .radial-gradient, .secondary-title .radial-gradient { position:absolute; width:150%; height:150%; left:-25%; top:-25%; z-index:0; border:none; }
.video-bttn img, .page-video .video-player-box .video-player .video-bttn img, .page-video .page-video-bttm .video-player .video-bttn img { position:absolute; visibility:visible !important; width:67px; height:67px; left:10px !important; top:10px !important; z-index:1 !important; border:none; }
.page-video .video-player-box .video-player .video-bttn img, .page-video .page-video-bttm .video-player .video-bttn img { left:0px !important; top:0px !important;  margin-bottom:0px; float:none; }
.page-video .page-video-bttm .video-player .video-player-inner { z-index:12; }
.page-video-scroll .video-scroll { position:relative; margin-left:auto; margin-right:auto; }
.page-video-scroll .video-scroll .radial-gradient { display:none; }
.video-prev { position:absolute; left:-20px; top:300px; z-index:34; display:none; }
.video-next { position:absolute; right:-20px; top:300px; z-index:34; display:none; }
.video-prev:hover, .video-next:hover, .page-video-scroll .video-scroll:hover { filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.50; -khtml-opacity:0.50; opacity:0.50; }
.page-video-scroll .video-scroll .down-label { position:absolute; width:140%; left:-20%; top:10%; color:white; text-align:center; font-size:140%; font-family:"gothamrounded_book"; }
.page-video-bttm { margin-top:20px; position:relative; }
.page-video-bttm .col-lf { border:none; height:420px; text-align:right; } 
.page-video-bttm .clmn-lf { background-color:transparent; overflow:hidden; }
.page-video-bttm .clmn-lf .clmn-lf-tp { height:auto; overflow:hidden; background-color:transparent; width:120%; position:relative; left:-10%; padding:20px 17% 20px 17%; border:0px 0px 0px 0px; border-bottom:solid 185px; z-index:1; color:#333; }
.page-video-bttm .clmn-lf .clmn-lf-bt { height:200px; overflow:hidden; background-color:transparent; width:100%; position:absolute; left:0px; bottom:0px; z-index:2; padding:5px 15px; }
.page-video-bttm .clmn-lf .clmn-lf-bg { position:absolute; left:0%; top:0%; width:100%; height:100%; background-color:transparent; z-index:0; }
.page-video-bttm .clmn-lf .clmn-lf-bt-below-0 { height:100%; }
.page-video-bttm .clmn-md { background-color:transparent; overflow:hidden; }
.page-video-bttm .clmn-rt { background-color:transparent; overflow:hidden; }
.page-video .page-video-bttm .video-bttn { top:30px; left:80px; }
.page-video-bttm .secondary-title { position:absolute; top:110px; left:0px; width:227px; height:20px; border:none; font-size:120%; text-align:center; background-color:transparent; z-index:8; }
.page-video-bttm .secondary-title span { position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:1; font-weight:500; }
.page-video .production-roles { position:relative; line-height:1.2; background-color:#dd1f26; color:white; width:auto; display:inline-block; padding:15px 15px 15px 20px; margin-top:35px; overflow:visible; }
.page-video .production-roles img.bracket { position:absolute; top:0px; height:100%; left:0px; }
.tmg-thmb img { position:absolute; visibility:hidden; top:0%; left:0%; width:auto; height:auto; border:none; z-index:0; }
.page-video-bttm-row-2 { margin-top:0px; }
.page-video-bttm-row-2 .clmn-md { background-color:transparent; }
.page-video-bttm-row-2 .clmn-md .secondary-title { left:auto; right:0px; }
.page-video-bttm-row-2 .clmn-rt { background-color:transparent; }
.page-video .page-video-bttm-row-2 .clmn-rt .video-bttn { position:absolute; right:auto; left:80px; bottom:auto; top:30px; margin:0; }
.page-video .page-video-bttm .clmn-md .video-bttn, .page-video-bttm .clmn-rt .video-bttn { right:auto; left:80px; bottom:auto; top:30px; margin:0; }
.page-video .page-video-bttm-row-2 .clmn-md .video-bttn { left:auto; right:80px; bottom:auto; top:30px; margin:0; }
.video-bttm-secondary-layout-corner .page-video-bttm .col-lf { /*height:280px;*/ }
.page-video-bttm .fader-block { position:absolute; top:0%; left:0%; width:100%; height:100%; z-index:9; background-color:black; display:none; }

.back-to-menu { position:absolute; top:96px; left:8px; height:auto; width:auto; overflow:visible; cursor:pointer; z-index:30; display:none; }
.body-work-single .back-to-menu { display:block; }
.back-to-menu a { text-decoration:none; }
.back-to-menu:hover span, .back-to-menu-gray:hover span { color:red; }
.back-to-menu img, .back-to-menu-gray img { width:18px; height:18px;  }
.back-to-menu span { color:white; font-family:"gothamrounded_book"; font-size:10px; margin-left:6px; text-transform:uppercase;  }
.back-to-menu-gray span { color:#cccccc; }

.body-work-single .video-prev, .body-work-single .video-next { display:block; }

.page-video .page-video-bttm .clmn-lf .clmn-lf-bt .video-bttn { left:auto; right:80px; top:30px !important; bottom:auto; }
.page-video .page-video-bttm .clmn-lf .clmn-lf-bt .secondary-title { left:auto; right:0px; }

.page-video-bttm .video-bttn .radial-gradient, .page-video-bttm .secondary-title .radial-gradient, .page-video-bttm-row-2 .video-bttn .radial-gradient, .page-video-bttm-row-2 .secondary-title .radial-gradient { display:none; }

.body-work {  }
.page-work, .page-work-nav { margin-top:0px; font-size:10px; color:white; padding-left:22px; font-family:"gothamrounded_book"; z-index:10; text-transform:uppercase; overflow-x:visible;  }
.page-work-nav { padding-top:10px; }
.page-work { margin-top:20px; min-height:800px; }
.page-work .col-lg-12 {  }
.page-work-nav { margin-top:75px; }
.page-work-nav ul { position:relative; left:-35px; margin-bottom:20px; z-index:1; }
.page-work-nav img { cursor:pointer; }
.page-work-nav li { border-right:solid 2px rgba(255, 255, 255, .6); }
.page-work-nav li a { text-shadow:none; line-height:20px; position: relative; display: block; padding: 3px 10px; cursor:pointer;  }
.page-work-nav li:hover a { color:red !important; text-shadow: 0 -1px 0 rgba(0,0,0,.25); }
.page-work-nav li a.active { color:red !important; text-shadow: 0 -1px 0 rgba(0,0,0,.25); }
.page-work-nav .navbar-category-icon { position:relative; float:left; top:2px; margin-right:8px; width:18px; height:18px; }
.page-work-nav .navbar-category-icon:hover { filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; }
.page-work a, .page-work-nav li a { text-decoration:none; color:#ffffff !important; outline: medium none; }
.page-work .video-browser-box { position:relative; float:left; width:200px; height:227px; border:none; margin:8px 8px 18px 8px; padding:5px; overflow:hidden; /*background-color:rgba(69,69,69,1);*/ background-color:transparent; }
.page-work .video-browser-box .browser-box-bg { position:absolute; top:160px; left:0%; width:100%; height:44px; z-index:0; background-color:#2f2e2e; }
.page-work .video-browser-box p { margin-top:0px; margin-bottom:0px; margin-left:8px; width:300%; z-index:2; }
.page-work .video-browser-box p.one-liner { position:absolute; margin-top:199px; margin-left:0px; padding:4px 0px 4px 0px; text-align:center; left:-100%; background-color:#575656; z-index:0; font-size:9px; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; transition:all .2s linear; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -moz-opacity:0; -khtml-opacity:0; opacity:0; }
.page-work .video-browser-box:hover p.one-liner, .touch .page-work .video-browser-box p.one-liner { difilter:alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; -moz-opacity:1; -khtml-opacity:1; opacity:1; }
.page-work .video-browser-box img.video-thmb { position:absolute; left:0px; top:0px; width:100%; z-index:2; }
.page-work .video-browser-box .meta { position:absolute; left:0px; top:162px; padding-top:7px; width:300%; height:48px; background-color:transparent; }
.page-work .video-browser-box .meta .value { position:absolute; left:48px; }

.bg-corner-darkener { position:fixed; margin-top:88px; left:-75%; top:-300px; width:150%; height:600px; }

.home-rules-buffer { position:relative; width:100%; z-index:10; background:transparent; height:50%; margin:44px 0px 0px 0px; clear:both;  }
.home-rules { position:relative; text-align:center; z-index:10; top:-44px; width:96%; max-width:1280px; min-width:900px; left:1%; clear:both; padding-bottom:0px; padding-top:0px; background-color:transparent; border:0; height:0px; color:#ffffff; -moz-osx-font-smoothing:grayscale; }
.home-rules .rules-bg { display:none; position:absolute; left:-25%; top:-400px; width:150%; height:800px; border:none; }
.home-rules .rule-number { font-size:30px; font-family:"acaslonpro_regular"; font-weight:400; font-style:italic; position:relative; top:-100px; }
.home-rules .rule-body { font-size:128px; width:120%; text-align:center; position:relative; left:-10%; white-space:nowrap; font-family:"alternategot_no1_dot"; position:relative; top:-160px; line-height:1.2; }
.home-rules .rule-body .brackets { color:#ff0000; font-size:120%; text-shadow: 0px 0px 0px;  }
.home-rules .rule-footer {  top:-220px; font-size:16px; font-family:"gothamrounded_book"; position:relative; }
.home-rules .rule-hr { position:relative; width:25%; border:dashed 1px #aaa; border-bottom:none; border-left:none; border-right:none; }
.home-rules-body-squeeze { -webkit-transform: scaleX(0.83); -moz-transform: scaleX(0.83); -ms-transform: scaleX(0.83); -o-transform: scaleX(0.83); transform: scaleX(0.83); }
.home-rules-number-stretch { -webkit-transform: scale(0.95,1.05); -moz-transform: scale(0.95,1.05); -ms-transform: scale(0.95,1.05); -o-transform: scale(0.95,1.05); transform: scale(0.95,1.05); }


.about-popup { color:#cccccc; text-decoration:none; }
.page-about { margin-top:128px; font-size:10px; line-height:1.7; color:#cccccc; font-family:"gothamrounded_book"; text-transform: uppercase; z-index:10; }
.page-about p { margin-top:1px; margin-bottom:1px; }
.page-about .col-lf, .page-about .col-rt { position:relative; overflow-x:visible; overflow-y:hidden; }
.page-about .col-sm-4 { padding-right:5%; /*border-right:dashed 2px gray; */}
.page-about .team-member { position:relative; float:left; height:auto; border:0; width:133px; font-size:10px; color:#ffffff; margin:0px 0px 20px 5px; overflow:hidden; cursor:pointer; }
.page-about .team-member:hover img { filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.80; -khtml-opacity:0.80; opacity:0.80;  }
.page-about .team-member:hover .about-popup { color:#cccccc; text-decoration:none; }
.page-about .team-member img { margin:0px 0px 4px 0px; float:left; z-index:8; }
.page-about .team-member span { line-height:1.25em; }
.page-about .team-member .team-name { color:#ff0000; font-size:120%; clear:left; float:left; }
.page-about .team-member .team-div { padding:0px 8px; display:none; }
.page-about .team-member .team-title { font-size:100%; clear:left; float:left; }
.page-about .team-member .team-email-bg { position:absolute; left:69px; top:99px; width:18px; height:18px; background-color:#888888; z-index:9; }
.page-about .team-member .team-email { font-size:130%; position:absolute; left:72px; top:98px; color:#ffffff; z-index:10; }
.page-about .team-member .team-email:hover { color:#000000 !important; }
.page-about .team-member .team-body { display:none; position:relative; height:5em; margin-top:20px; overflow:hidden; color:#cccccc; }
.page-about .team-member .team-more { display:none; position:relative; left:-4px; margin-top:1px; width:44px; text-align:center; height:20px; border:0; float:left; background-color:transparent; cursor:pointer; }
.page-about .team-member .team-more span { font-size:10px; line-height:4px; color:red; font-weight:bold; }
.page-about .team-member .team-more .fa { font-size:36px; color:#cccccc; position:relative; top:-13px; left:-1px; }
.page-about .team-member .team-more:hover span { color:#cccccc; }
.page-about .team-member .team-more:hover .fa { color:red; }
.page-about .header { color:#ffffff; margin-top:50px; }
.page-about .big-bracket { display:none; position:relative; float:left; left:-20px; top:-20px; color:red; font-size:300px; font-family:"alternategot_no1_dot"; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; line-height:1; overflow:visible; width:60px; height:450px; }
.page-about .company-name { color:red; }
.page-about .title-bracket { color:red; font-size:75px; font-family:"alternategot_no1_dot"; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
.page-about .title-body { font-size:12px; position:relative; top:-16px; color:white; }
.page-about .vertical-rule { position:absolute; left:-10%; top:-90px; height:300%; border:0; border-left:dashed 2px #cccccc; width:0px; }
.team-members { max-height:580px; overflow-y:scroll; overflow-x:hidden; margin-bottom:30px; }


.jspDrag { background-color:red !important; }

.radial-gradient {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNDUiLz4KICAgIDxzdG9wIG9mZnNldD0iNjclIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%, rgba(0,0,0,0) 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,rgba(0,0,0,0.45)), color-stop(67%,rgba(0,0,0,0))); 
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%); 
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%);
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.45) 10%,rgba(0,0,0,0) 67%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#00000000',GradientType=1 );
}

.bg-fadeout-gradient {
  position:fixed; z-index:1; width:100%; height:100%; left:0%; top:0%; border:none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 67%, rgba(0,0,0,1) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(67%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,1)));
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 67%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 67%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 67%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
}
