
@font-face {
  font-family: 'acaslonpro_italic';
  src: url('acaslonpro_italic/acaslonpro_italic.eot?') format('eot'), url('acaslonpro_italic/acaslonpro_italic.otf') format('opentype'), url('acaslonpro_italic/acaslonpro_italic.woff') format('woff'), url('acaslonpro_italic/acaslonpro_italic.ttf')  format('truetype'), url('acaslonpro_italic/acaslonpro_italic.svg#acaslonpro_italic') format('svg');
}

@font-face {
  font-family: 'gothamrounded_book';
  src: url('gothamrounded_book/gothamrounded_book.eot?') format('eot'), url('gothamrounded_book/gothamrounded_book.woff') format('woff'), url('gothamrounded_book/gothamrounded_book.ttf')  format('truetype'), url('gothamrounded_book/gothamrounded_book.svg#gothamrounded_book') format('svg');
}

@font-face {
  font-family: 'alternategot_no1_dot';
  src: url('alternategot_no1_dot/alternategot_no1_dot.eot?') format('eot'), url('alternategot_no1_dot/alternategot_no1_dot.otf')  format('opentype'), url('alternategot_no1_dot/alternategot_no1_dot.woff') format('woff'), url('alternategot_no1_dot/alternategot_no1_dot.ttf')  format('truetype'), url('alternategot_no1_dot/alternategot_no1_dot.svg#alternategot_no1_dot') format('svg');
}
